<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/stylesheet.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <title>Chika todo-app</title>
  <meta name="description" content="">
</head>
<body ng-app="ListApp" ng-controller="ListController">
  <form class="add-area" ng-submit="addItem(newTodo)">
    <input type="text" ng-model="newTodo" name="text" />
    <input type="submit" id="add" value="Add" />
  </form>
  <div data-ng-repeat="todo in todoList">
    <div class="todo-item">{{todo.name}} </div>
    <button data-ng-click="deleteItem($index)">delete</button>
  </div>
</body>
</html>
